<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <h1>Loja</h1>
        <nav>
            <a href="/">Página Inicial</a>
            <a href="/products">Produtos</a>
            <a href="/cart">Carrinho</a>
            {{#if user}}
                <a href="/profile">{{user.username}}</a>
                <a href="/logout">Sair</a>
            {{else}}
                <a href="auth/login">Entrar</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy; 2024</p>
    </footer>
</body>
</html>
